REACT_APP_POSTHOG_KEY=
REACT_APP_POSTHOG_HOST=https://us.i.posthog.com
REACT_APP_SUPABASE_URL=https://wwehouchqznsvnrosaeb.supabase.co
REACT_APP_SUPABASE_PUBLISHABLE_KEY=sb_publishable_lP5X_egPBmD__qqKPjyoyg_M4iNUj_C
